.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

img.header__logo {
  height: 40px;
  width: 60px;
  object-fit: contain;
}

.header__icon {
  padding: 14px;
}
