.card {
  position: relative;
  width: 80vw;
  max-width: 400px;
  height: 50vh;
  padding: 20px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.1);
}

.card > h3 {
  position: absolute;
  bottom: 1rem;
  color: white;
  font-size: 18px;
}

.tinderCard__container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}

.tinderCard__loading {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
